<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Demo for HTML Diff</title>
</head>
<body>
  <div class="box-diff">
    <div class="card-diff">
      <h3>Original document ({rid})</h3>
      <div class="container">
        {original}
      </div>
    </div>
    <div class="card-diff">
      <h3>Diff Result</h3>
      <div class="container">
        {diff}
      </div>
    </div>
  </div>
</body>
</html>
