<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style.css">
  <title>Demo for HTML Diff</title>
</head>
<body>
  <div class="box">
    <div class="card">
    <form name="demo" method="post" action="diff.html">
      <h3>Document Diff Tool</h3>
      <div class="inputs">
        <label for="original">
          Original Document
        </label>
        <input type="text" name="original" size="25" />
      </div>
      <div class="inputs">
        <label for="revised">
          Revised Document
        </label>
        <input type="text" name="revised" size="25" />
      </div>
      <div class="submit">
        <input type="submit" name="compare" value="Compare" />
      </div>
    </form>
    </div>
  </div>
</body>
</html>
